background{
	position:fixed;
	background-image: url("img/hot-air-ballon-clipart.jpg");
}

.carousel-content {
	color: black;
	display: flex;
	align-items: center;
}

#text-carousel {
	width: 100%;
	height: auto;
	padding: 50px;
}

body {
	background: #ddd;
	margin: 0;
	padding: 0;
}

#container {
	width: 950px;
	margin: 0 auto;
	background: #fff;
	padding: 200px 25px;
}

table {
	border-collapse: collapse;
	width: 100%
}

td {
	border: 1px solid #eee;
	padding: 10px;
}

@media screen and (max-width: 768px) {
	#container {
		width: auto;
		margin: 0;
		padding: 25px 0;
	}
	table {
		display: block;
	}
	td {
		display: block;
		padding: 5px 0;
		border: none;
	}
	td img {
		display: block;
		margin: 0;
		width: 100%;
		max-width: none;
	}
}

img {
	max-width: 100%;
	height: auto;
	width: auto\\9;
	/* ie8 */
}

@media only screen and (min-width: 768px) {
	h1 {
		font-size: 100px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 40px;
	}
	h4 {
		font-size: 30px;
	}
	h5 {
		font-size: 40px;
	}
}

h5 {
	font-family: 'Pinyon Script', cursive;
}

h3,
h4,
p {
	font-family: 'Patrick Hand', cursive;

}