.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}

body{ background: #ddd; margin: 0; padding: 0; }
		#container{ width: 950px; margin: 0 auto; background: #fff; padding: 200px 25px; }
		table{ border-collapse: collapse; width: 100% }
		td{ border: 1px solid #eee; padding: 10px; }

		@media screen and (max-width: 600px){

			#container{ width: auto; margin: 0; padding: 25px 0; }
			table { display: block; }
			td{ display: block; padding: 5px 0; border: none; }
			td img{ display: block; margin: 0; width: 100%; max-width: none; }

		}

		img{ max-width: 100%; height: auto; width: auto\\9; /* ie8 */ }